<h1>Login</h1>
<br>
<form method="POST" action="/login">
  <label>Username: </label>
  <input type="text" name="username" id="user_username">
  <br>
  <label>Password: </label>
  <input type="text" name="password" id="user_password">
  <br>
  <input type="submit" id="submit" value="Log In">
</form>
